

.nav{
    background-color: gray;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 0%;
    overflow: hidden;
    margin: 0%;

}
.nav ul li {
    float: left;
}
.nav ul li a {
    display: block;
    text-align: center;
    padding-right: 40px;
    font-size: medium;
    color: black;
}
.flex-container{
    background-color: blueviolet;
}